<!DOCTYPE HTML>
<head>
    <title>Welcome to Cytanix</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/assets/media/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/media/favicon.svg" />
    <link rel="shortcut icon" href="/assets/media/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/media/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Cytanix" />
    <link rel="manifest" href="/assets/media/site.webmanifest" />
</head>
<body>
    <header>
        <h1>Cytanix</h1>
    </header>
</body>